@use "../../styles/variables" as v;

.header {
  width: 100%;
  background: v.$color-bg;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.25rem;
    font-weight: 600;
    color: v.$color-text;

    &:hover {
      opacity: 0.85;
    }

    &-icon {
      color: v.$color-accent;
    }
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;

    &__links {
      display: flex;
      gap: 1.5rem;

      @media (max-width: v.$bp-md) {
        display: none;
      }
    }

    &__link {
      color: v.$color-text;
      opacity: 0.7;
      font-size: 0.95rem;
      transition: 0.2s ease;

      &--active,
      &:hover {
        opacity: 1;
        color: v.$color-accent;
      }
    }

    &__cta {
      cursor: pointer;
      @media (max-width: v.$bp-md) {
        display: none;
      }
    }

    &__menu-button {
      display: none;
      color: v.$color-accent;

      @media (max-width: v.$bp-md) {
        display: block;
      }
    }
  }
}
