@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.picker {
  margin-top: 1.5rem;

  &__field {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: v.$color-text;
  }

  &__input {
    padding: .5rem;
    border-radius: 6px;
    background: v.$color-card;
    color: v.$color-text;

    &[type="date"]::-webkit-calendar-picker-indicator {
     filter: invert(1);
     opacity: .9;
     cursor: pointer;
     transition: opacity .2s ease-in;

     &:hover {
      opacity: 1;
     }
    }
  }

  &__loading,
  &__error,
  &__no-slots {
    margin-top: 1rem;
    font-size: .9rem;
  }

  &__error {
    color: red;
  }

  &__slots {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    color: #000;
    
  }

  &__slot-btn {
    min-width: 70px;
    cursor: pointer;
  }

  &__booked {
    margin-top: 1rem;
    
  }

  &__subtitle {
    font-size: .85rem;
    opacity: .7;
    margin-bottom: .25rem;
  }

  &__booked-list {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
  }

  &__booked-item {
    background: #ff4444;
    padding: .25rem .5rem;
    border-radius: 4px;
    font-size: .85rem;
    color: v.$color-text;
  }
}