@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.action-card {
  background-color: v.$color-card;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  color: v.$color-text;
  @include m.card-shadow;

  &__btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: v.$color-accent;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s ease;

    &:hover {
      background-color: v.$color-accent-hover;
    }
  }
}
