@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.booking-page {
  max-width: v.$container-max-width;
  margin: 0 auto;
  padding: 2rem;

  @media screen and (min-width: v.$bp-xxl) {
    max-width: 1000px;
  }

   @media screen and (max-width: calc(v.$bp-xxl - 1px)) {
    max-width: 50%;
  }

  @media screen and (max-width: v.$bp-xl) {
    max-width: 70%;
  }

  @media screen and (max-width: v.$bp-lg) {
    max-width: 90%;
  }

  @media screen and (max-width: v.$bp-sm) {
    max-width: 100%;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: v.$color-text;
  }

  &__error {
    color: red;
    margin-top: 1rem;
  }

  &__card {
    background-color: v.$color-card;
    padding: 2rem;
    border-radius: 12px;
    @include m.card-shadow;
  }
}
